<div>
    <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
        <ng-content select="h3"></ng-content>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" name="email" ngModel #email>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" ngModel name="password">
        </div>
        <ng-content select="auth-remember" class="auth-remember"></ng-content>
        <auth-message [style.display]="(showMessage ? 'inherit' : 'none')"></auth-message>
        <ng-content select="button"></ng-content>
    </form>
</div>