:host {

    > div {
        border: 2px solid #d1d1d1;
        padding: 30px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
    }

    .title {
        font-size: 20px;
    }

    label {
        line-height: 30px;
    }

    input[type="email"], input[type="password"] {
        border: 2px solid #d1d1d1;
        border-radius: 4px;
        font-size: 14px;
        line-height: 30px;
        padding: 5px;

        &.email {
            border-color: #9f72e6;
        }
    }

    
    .form-group {
        margin-bottom: 10px;
        width: 100%;

        label, input {
            width: 100%;
        }
    }

}