:host {
    font-family: Arial, Helvetica, sans-serif;

    div {
        display: flex;
        flex-wrap: wrap;
    }

    auth-form {
        padding: 10px;
        width: 48%;

        h3 {
            font-size: 24px;
            font-weight: lighter;
            margin: 0;
            margin-bottom: 20px;
        }

        auth-remember {
            margin-bottom: 15px;
            width: 100%;
        }

        button {
            background: #9f72e6;
            color: white;
        }
    }
}